/* Estilização da Navbar */
.navbar {
    background-color: #f8f9fa;  /* Mantém o estilo padrão do Bootstrap */
  }
  
  /* Estilização para centralizar os itens */
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between;  /* Centraliza a logo e os itens */
    align-items: center;  /* Alinha os itens verticalmente */
  }
  
  /* Estilização dos itens do menu (nav-item) */
  .nav-item {
    margin-left: 15px;  /* Adiciona espaçamento entre os itens */
  }
  
  /* Estilização personalizada para os links (nav-link) */
  .nav-link.nav-custom {
    font-size: 18px;  /* Aumenta o tamanho da fonte */
    font-weight: 500;  /* Ajusta o peso da fonte */
    color: #333;  /* Cor personalizada */
    padding: 10px 11px;  /* Espaçamento interno dos links */
    text-align: center;  /* Centraliza o texto */
  }
  
  .nav-link.nav-custom:hover {
    color: #007bff;  /* Cor de hover para os links */
  }
  
  /* Estilização adicional para a responsividade */
  @media (max-width: 991.98px) {
    .navbar .container-fluid {
      justify-content: flex-start;  /* Em telas menores, mantém a logo à esquerda */
    }
  }
  